body {
  font-family: "Cairo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  scroll-behavior: smooth;
}

.nav-item .nav-link {
  transition: 1s ease-in-out;
  margin-right: 20px;
  margin-left: 20px;
}

.nav-item .nav-link:hover {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  margin-right: 25px;
  margin-left: 25px;
}

header {
  background-image: url(../images/images.jpg);
  background-position: 0px 0px;
  background-size: cover;
}

section h3 {
  width: 100%;
  border-bottom: 1px solid #0d6efd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

@media (max-width: 768px) {
  .card-1 {
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
  }
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.side-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.side-element {
  background-color: #f8f9fa;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  text-align: center;
}
#news-bar {
  width: 100%;
  background: white;
  box-shadow: #0d6efd 0px 50px 100px -20px, #0d6efd 0px 30px 60px -30px,
    #0d6efd 0px -2px 6px 0px inset;
  border-radius: 30px;
  font: 21px bold;
  padding: 4px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

#news-bar:hover {
  transition: 0.37s;
}

#news-bar a {
  padding: 8px 2px;
  color: black;
  text-decoration: none;
}

#news-bar a:hover {
  transition: 0.37s;
  color: #0d6efd;
}

/* Pop */

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-pop:hover,
.hvr-pop:focus,
.hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Float */

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* slideUp */

.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-8%);
  }
  65% {
    transform: translateY(4%);
  }
  80% {
    transform: translateY(-4%);
  }
  95% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  50% {
    -webkit-transform: translateY(-8%);
  }
  65% {
    -webkit-transform: translateY(4%);
  }
  80% {
    -webkit-transform: translateY(-4%);
  }
  95% {
    -webkit-transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
